<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".future.Future_SimpleActivity"></activity>
        <activity android:name=".future.Future_Perf_ContActivity" />
        <activity android:name=".future.Future_PerfectActivity" />
        <activity android:name=".future.Future_ContinuousActivity" />
        <activity android:name=".future.FutureActivity" />
        <activity android:name=".past.Past_Perf_ContActivity" />
        <activity android:name=".past.Past_PerfectActivity" />
        <activity android:name=".past.Past_ContinuousActivity" />
        <activity android:name=".past.Past_SimpleActivity" />
        <activity android:name=".present.Present_Perf_ContActivity" />
        <activity android:name=".present.Present_PerfectActivity" />
        <activity android:name=".present.Present_SimpleActivity" />
        <activity android:name=".AlphabetActivity" />
        <activity android:name=".present.Present_ContinuousActivity" />
        <activity android:name=".present.PresentActivity" />
        <activity android:name=".past.PastActivity" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>